---
import Themetoggle from './Themetoggle.astro'
---

<header w-full fixed left-0 top-0 pt-4 pl-8 pr-8 class="blur-background">
	<nav>
		<div class="flex justify-between item-center">
			<a id="logo" href="//jmni.cn" target="_blank" class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">Jmni</a>
			<div class="flex justify-between item-center">
			  <Themetoggle />
			  <div class="flex justify-between item-center" m="t2 b2" b-l f-c>
				<a id="github" i-carbon-logo-github text-3xl m="l4"  href="https://github.com/jmni-cn" target="_blank" />
				<!-- <span class="w-8 ml-4 rounded-2 hover" style="overflow: hidden;">
				  <img id="zs" class="w-full" src="//static.jmni.cn/blog/img/30acc295946741bd990e7df910d6b34c.png" alt="赞赏一下~">
				  <div class="absolute w-68% right-10 rounded-6 qrcode" style="overflow: hidden;z-index: 1;">
					<img src="/6bf8cf59d55d48d4870361413a586421.jpg" alt="赞赏一下~">
				  </div>
				</span> -->
			  </div>
			</div>
		  </div>
	</nav>
</header>
<script>
	document.addEventListener("DOMContentLoaded", function () {
	  document.getElementById("logo").addEventListener("click", dombdtj);
	  document.getElementById("github").addEventListener("click", dombdtj);
	//   document.getElementById("zs").addEventListener("click", dombdtj);
	});
	function dombdtj(e) {
	  if (window._hmt) {
		window._hmt.push(["_trackEvent", `blog.jmni-${e.target.id}`, "点击"]);
	  }
	}
  </script>